body {
  background: linear-gradient(180deg, orange, red);
  height: 100%;
  font-family: Arial, Arial, sans-serif;
}

.header-container{
  position: absolute;
  top: 0%;
  left: 0px;  
  width: 100%;
  background-color: black;
}

.header{
  margin: auto;
  text-align: center;  
  color: red;
}

.footer-container {
  position: absolute;
  left: 0px;
  bottom: 100%px;
  width: 100%;
  background-color: black;
  color: red;
  text-align: center;
}

.movie-list{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  background: rgba(0, 0, 0, .4);  
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
  width: 99%;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.movie-list::-webkit-scrollbar {
  height: 15px;
  background-color: #000;
}

.movie-list::-webkit-scrollbar-track {
  background: rgba(39, 39, 39, 0.4); 
  border-radius: 10px;
}

.movie-list::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.movie-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

img {
  max-height: 300px;
  width: 200px;
  margin: 0px 15px 0px 15px;
  opacity: 100%;
}

img:hover {
  transform: scale(1.1);
}