body {
  background: linear-gradient(180deg, orange, red);
  height: 100%;
  font-family: Arial, Arial, sans-serif;  
}

.movie-details-title {
  position: relative;
  top: 80px;
  text-align: center;
}

.movie-details-poster-container {
  width: 100%;
  margin: 100px auto 0 0;
}

.movie-details-poster  {  
  max-height: 700px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.movie-details-poster:hover  {
  transform: none;
}

.movie-details-details {
  position: relative;
  top: 10px;
}

.movie-details-summary {
  position: relative;
  top: 10px;
}

